/* :::BASE ELEMENT STYLES::: */
* {
    box-sizing: border-box;
}

body {
    color: #4a4a4a;
    font-family: Nunito;
    background-color: #fafafa;
    text-align: center;
    padding: 0 1em 0;
}

p {
    font-size: 1em;
    line-height: 1.3em;
}

h1 {
    font-size: 1.5em;
    font-weight: 800;
}

h3 {
    font-size: 1rem;
    font-weight: 900;
}
a {
    text-decoration: none;
}
a:visited{
    color: #4a4a4a; 
}
/* :::BASE LAYOUT STYLES::: */
.container {
    /* width: 95%; */
    margin: 0 auto;
}

.main-nav {
    list-style-type: none;
    padding: 0;
}

.main-nav a {
    font-weight: 900;
    font-size: 1em;
    text-decoration: none;
    color: #4a4a4a;
    text-transform: uppercase;
}
.logo,
.main-nav li {
    text-align: center;
}

.portfolio-image {
    width: 100%;
}
.footer-nav {
    font-size: 16px;
    color: #4a4a4a;
    font-weight: 900;
    text-transform: uppercase;
    list-style-type: none;
}
.footer-nav a {
    text-decoration: none;
}
.footer-nav a:visited {
    color: #4a4a4a;   
}
a:link {
    color: #4a4a4a; 
}   
.interest-icons {
    padding: 2em 0;
}
.tablet-desktop-footer {
    display: none;
}
/* :::BASE LAYOUT STYLES::: */
/* :::BASE LAYOUT STYLES: id selectors::: */
#hobbies {
    background-image: url(../images/hobi-background.jpg);
    background-size: cover;
    background-position: top;
    color: white;
    font-family: 'GFS Didot', serif;
    text-transform: uppercase;
}
/* :::BASE LAYOUT STYLES: id selectors::: */
/* :::BASE LAYOUT STYLES: intor section::: */
.intro-section {
    padding-top: 20px;
    padding-bottom: 20px;
}

.profile-photo {
    width: 70%;
}

.portfolio-section {
    background-color: white;
}

.portfolio-section h3 {
    padding: 32px;
    text-transform: uppercase;
}

/* :::BASE LAYOUT STYLES: intor section::: */
/* :::BASE LAYOUT STYLES: marketing page showcase::: */
.marketing-page-showcase {
    background-color: white;
    padding-bottom: 1em;
}

.marketing-page-showcase p {
    padding: 0 1em;
}

.marketing-page-showcase h2 {
    font-size: 1.25em;
}
/* :::BASE LAYOUT STYLES: marketing page showcase::: */
/* :::BASE LAYOUT STYLES: search page showcase::: */

.search-page-showcase {
    background-color: white;
    padding-bottom: 1em;
}

.search-page-showcase p {
    padding: 0 1em;
}

.search-page-showcase h2 {
    font-size: 1.25em;
}
/* :::BASE LAYOUT STYLES: search page showcase::: */
/* :::BASE LAYOUT STYLES: travel app showcase::: */

.travel-app-showcase {
    background-color: white;
    padding-bottom: 1em;
}

.travel-app-showcase p {
    padding: 0 1em;
}

.travel-app-showcase h2 {
    font-size: 1.25em;
}
/* :::BASE LAYOUT STYLES: travel app showcase::: */
/* :::BASE LAYOUT STYLES: travel map showcase::: */

.map-of-favorite-spots-showcase {
    background-color: white;
    padding-bottom: 1em;
}

.map-of-favorite-spots-showcase p {
    padding: 0 1em;
}

.map-of-favorite-spots-showcase h2 {
    font-size: 1.25em;
}
/* :::BASE LAYOUT STYLES: travel map showcase::: */
/* :::BASE LAYOUT STYLES: photo gallery showcase::: */

.photo-gallery-showcase {
    background-color: white;
    padding-bottom: 1em;
}

.photo-gallery-showcase p {
    padding: 0 1em;
}

.photo-gallery-showcase h2 {
    font-size: 1.25em;
}
/* :::BASE LAYOUT STYLES: photo gallery showcase::: */
/* :::BASE LAYOUT STYLES: Portfolio image showcase::: */

.cauculator-app-showcase {
    background-color: white;
    padding-bottom: 1em;
}

.cauculator-app-showcase p {
    padding: 0 1em;
}

.cauculator-app-showcase h2 {
    font-size: 1.25em;
}
/* :::BASE LAYOUT STYLES: Portfolio image showcase::: */
/* :::BASE LAYOUT STYLES: footer::: */

footer h3 {
    padding: 3em 0 32px;
}
.contact-details {
    padding-top: 1em;
    padding-bottom: 3em;
}

.student-name {
    font-size: 0.8em;
    font-weight: 900;
}

.back-to-top {
    font-size: 0.8em;
    font-weight: 900;
}

/* :::BASE LAYOUT STYLES: footer::: */
    /* :::FLOATED ELEMENTS::: */
.student-name {
    float: left;
}
.back-to-top {
    float: right;
}


.cf::after {
    content: "";
    clear: both;
    display: table;
  }
      /* :::FLOATED ELEMENTS::: */
/* :::MEDIA QUERIES::: */
    .main-nav li {
        background-color: white;
        padding: 12px 0 12px;
        margin-bottom: 3px;
    }
a:hover {
    color: forestgreen;
}

@media (min-width: 768px) {
    .main-nav li {
        background-color: rgba(0, 0, 0, 0);
    }
    .mobile-footer-nav {
        display: none;
    }
    .tablet-desktop-footer {
        display: block;
    }
    .tablet-desktop-footer .logo {
        font-size: 1rem;
        padding: 8px 0;
        margin:0;
    }
    .main-header {
        padding-top: 32px;
    }
    .main-nav {
        list-style-type: none;
        padding: 0.32px 0 0 0;
    }
    .main-nav a {
        font-weight: 900;
        font-size: 1em;
        text-decoration: none;
        color: #4a4a4a;
        text-transform: uppercase;
    }
    .main-nav li {
        padding: 12px 1.5em 12px;
        margin-bottom: 3px;
        display: inline;
    }
    main {
        width: 95%;
        margin: 0 auto;
    }
    .portfolio-section {
        background-color: white;
    }
    footer {
        padding-top: 1em;
        width: 85%;
        font-size: 1.45em;
        margin: 0 auto;
    }
    .mobile-footer-nav {
        display: none;
        }
    
    .contact-details {
        padding: 0.8em 0 0.8em;
    }
    .portfolio-section p {
        max-width: 320px;
        margin: 0 auto 3em;
    }
    a:hover {
        color: forestgreen;
    }
        /* :::FLOATED ELEMENTS::: */
        .profile-photo {
            display: block;
            float: right;
            width: 40%;
        }
        .intro-section p {
            text-align: left;
            float: left;
            width: 60%;
            font-size: 1.45em;
            margin: 0;
            padding-right:10px;
        }
        .marketing-page-showcase {
            float: left;
            width: 50%;
            padding-right: 5px;
        }
        .search-page-showcase {
            float: right;
            width: 50%;
            padding-left: 5px;
        }
        .travel-app-showcase {
            float: left;
            width: 50%;
            padding-right: 5px;
        }
        .map-of-favorite-spots-showcase {
            float: right;
            width: 50%;
            padding-left: 5px;
        }
        .photo-gallery-showcase {
            float: left;
            width: 50%;
            padding-right: 5px;
        }
        .cauculator-app-showcase {
            float: right;
            width: 50%;
            padding-left: 5px;
        }
        .tablet-desktop-footer .logo {
            text-align: left;
            float: left;
        }
        .footer-nav {
            text-align: right;
            float: right;
            margin: 0;
            padding: 0 0 3em 0;
        }
        .footer-nav li {
            float: left;
            padding: 8px 10px;
        }
        /* :::FLOATED ELEMENTS::: */    

}
@media (min-width: 1024px) {

    .main-header {
        padding-top: 32px;
    }
    .main-nav {
        list-style-type: none;
        padding: 0.32px 0 0 0;
    }
    .main-nav a {
        font-weight: 900;
        font-size: 1em;
        text-decoration: none;
        color: #4a4a4a;
        text-transform: uppercase;
    }
    .main-header {
        margin: 0 auto;
        width: 90%;
    }
    .intro-section {
        width: 95%;
        padding: 2em 0;
        margin: 0 auto;
    }
    a:hover {
        color: forestgreen;
    }
/* :::BASE LAYOUT STYLES: intro section::: */
    .portfolio-section {
        width: 95%;
        margin: 0 auto;
    }
/* :::BASE LAYOUT STYLES: intro section::: */
/* :::BASE LAYOUT STYLES: footer::: */
    footer p {
        width: 75%;
        margin: 0 auto 1.5em;
    }
    .tablet-desktop-footer {
        width: 100%;
    }
    .contact-details p {
        margin: 0 auto;
        padding: 0 0 10px 0;
    }
/* :::BASE LAYOUT STYLES: footer::: */        
        /* :::FLOATED ELEMENTS::: */
        .main-header .logo {
            float: left;
        }
        .main-nav {
            float: right;
        }
        .marketing-page-showcase {
            float: left;
            width: 33.33%;
            padding: 0 10px 30px 20px;
        }
        .search-page-showcase {
            float: left;
            width: 33.33%;
            padding: 0 15px 30px;
        }
        .travel-app-showcase {
            float: left;
            width: 33.33%;
            padding: 0 20px 30px 10px;
        }
        .map-of-favorite-spots-showcase {
            float: left;
            width: 33.33%;
            padding: 0 10px 30px 20px;
        }
        .photo-gallery-showcase {
            float: left;
            width: 33.33%;
            padding: 0 15px 30px;
        }
        .cauculator-app-showcase {
            float: left;
            width: 33.33%;
            padding: 0 20px 30px 10px;
        }
        /* :::FLOATED ELEMENTS::: */
}
/* :::BASE LAYOUT STYLES: showcases::: */  

/* :::BASE LAYOUT STYLES: showcases::: */  
/* :::MEDIA QUERIES::: */